.main-container{
  display:flex;
  justify-content: center;
  gap:10px;
}

.wrapper{
  width : 500px;
  background-color: grey;
}

.main-area{
  margin : 0 auto;
  width: 900px;
  background-color:#efefef;
  border-radius: 10px;
  padding: 15px;
}

.main-area h3{
  text-align: center;
  margin: 5px 0px 0px 0px;
}

.react-datepicker__input-container input{
  height: 38px;
}

.nav-container a{
  text-outline: none;
  color:white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 30px;
}

.router-content{
  margin-top:20px;
}

nav{
  height:50px;
}